@font-face{
	font-family: 'fortinSans';
	src: 
		local('Fortin Sans'),
		local('Fortin-Sans'),
		url('fonts/Fontin_Sans_R_45b.otf') 
		format('opentype');
}

*{
   font-family: 'fortinSans' !important;
}

html, body{
	background: #F0EFED;
	margin: 0;
	padding: 0;
}

.center{
	display: block;
	margin: auto;
}

.header{
	position: absolute;
	left: 9.5rem;
	width: 70rem;
	top: 0;
	min-height: 10rem;
	text-align: center;
	border-bottom: 0.05em dotted #aaaaaa;
	background: #F0EFED;
	z-index: 2;
}
.title{
	width: 70rem;
	font-size: 4rem;
	padding-top: 1rem;
	position: absolute;
	margin: 0;
	color: #808080;
}
.top-nav-links{
	width: 70rem;
	position: absolute;
	top: 73%;
	right: 0;
}
.top-nav-link{
	font-size: 1.5rem;
	height: 5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 5rem;
	padding-right: 5rem;
	background-color: ;
	color: #808080;
	text-decoration: none;
}
.current-page{
	border-bottom: #808080;
	border-bottom-style: solid;
	border-bottom-width: 0.15rem;
}
.top-nav-link:hover{
	background-color: #D8D7D5;
}

.subtitle{
	font-size: 2rem;
	position: absolute;
	left: 9.5rem;
	width: 70rem;
	text-align: center;
	padding-top: 3rem;
	border-top: 0.002rem solid #aaaaaa;
	color: #808080;
}

.blurb{
	left: 9.5rem;
	width: 70rem;
	font-size: 1.5rem;
	position: absolute;
	text-align: center;
	color: #808080;
}

.contents{
	position: absolute;
	top: 10rem;
	width: 89rem;
	background: #F0EFED;
	z-index: 1;
}

.soft{
	position: absolute;
	top: 57rem;
	padding: 0;
}

.ml{
	position: absolute;
	top: 103rem;
	padding: 0;
	height: 60rem;
}

.langs{
	position: absolute;
	top: 146rem;
	padding: 0;
	height: 27rem;
}

#bio-section{
	top: 0;
}

#do-section{
	top: 40rem;
}

#lang-section{
	top: 130rem;
}

#bio{
	top: 9rem;
}

#soft-descript{
	top: 50rem;
}

#ml-descript{
	top: 87rem;
}

#copyright{
	position: absolute;
	left: 19.5rem;
	width: 50rem;
	padding-bottom: 0.5rem;
	text-align: center;
	top: 187rem;
	z-index: 10;
	color: #808080;
}

/*
 * Lightbulb
 */
.bulb-container{
	position: absolute;
	transform: scale(0.5);
	top: 58rem;
	left: 8rem;
	width: 212px;
	transition: all 0.35s ease-in;
}
#on{
	transform: translate(50%, 50%) scale(0);
	opacity: 0;
}
.active #on{
	opacity: 1;
	transform: translate(0) scale(1);
	transition: all 0.35s ease-in;
}
.fancy-bulb{
	position:relative;
}
.streaks, .streaks:after, .streaks:before{
	position: absolute;
	background: #FFDB55;
	border-radius: 5.5px;
	height: 11px;
}
.streaks:after, .streaks:before{
	content: "";
	display: block;
}
.streaks:before{
	bottom: 65px;
}
.streaks:after{
	top: 65px;
}
.left-streaks{
	right: 217px;
	top: 89.5px;
}
.active .left-streaks{
	animation: move-left 0.38s ease-out, width-to-zero 0.38s ease-out;
	animation-delay: 0.35s;
}
.left-streaks:before, .left-streaks:after{
	left: 15px;
}
.active .left-streaks:before{
	animation: width-to-zero 0.38s ease-out, move-up 0.38s ease-out;
	animation-delay: 0.35s;
}
.active .left-streaks:after{
	animation: width-to-zero 0.38s ease-out, move-down 0.38s ease-out;
	animation-delay: 0.35s;
}
.right-streaks{
	left: 217px;
	top: 89.5px;
}
.active .right-streaks{
	animation: move-right 0.38s ease-out, width-to-zero 0.38s ease-out;
	animation-delay: 0.35s;
}
.right-streaks:before, .right-streaks:after{
	right: 15px;
}
.active .right-streaks:before{
	animation: width-to-zero 0.38s ease-out, move-up 0.38s ease-out;
	animation-delay: 0.35s;
}
.active .right-streaks:after{
	animation: width-to-zero 0.38s ease-out, move-down 0.38s ease-out;
	animation-delay: 0.35s;
}
.left-streaks:before, .right-streaks:after{
	transform: rotate(34deg);
}
.left-streaks:after, .right-streaks:before{
	transform: rotate(-34deg);
}
@keyframes move-left{
	0%{ transform: none; }
	65%{ transform: translateX(-80px); }
	100%{ transform: translateX(-80px); }
}
@keyframes move-right{
	0%{ transform: none; }
	65%{ transform: translateX(80px); }
	100%{ transform: translateX(80px); }
}
@keyframes width-to-zero{
	0%{ width: 50px; }
	100%{ width: 11px; }
}
@keyframes move-up{
	0%{ }
	100%{ bottom: 100.75px; }
}
@keyframes move-down{
	0%{ }
	100%{ top: 100.75px; }
}

/*
 * Design graph (nodes and edges)
 */
.design-container{
	position: absolute;
	transform: scale(1);
	top: 64rem;
	left: 26.5rem;
	width: 220px;
	height: 150px;
}
.design-nodes{
	fill: none;
	stroke: #00554d;
	stroke-width: 2;
}
.design-edges{
	stroke: #4169E1;
	stroke-width: 2.5;
	stroke-dashoffset: 1;
}

/*
 * Build Icon
 */
.build-container{
	position: absolute;
	transform: scale(0.8);
	top: 64.25rem;
	left: 48rem;
	width: 220px;
	height: 150px;
}
.soft-line{
	stroke: #808080;
	stroke-width: 8;
	fill: none;
}

/*
 * Verify Icon
 */
 .verify-container{
	position: absolute;
	transform: scale(1);
	top: 63rem;
	left: 68rem;
	width: 120px;
	height: 160px;
}
.soft-thin-line{
	stroke: #808080;
	stroke-width: 5;
	fill: none;
}
.checkmark{
	stroke: #FF6347; /* or maybe #FF0000*/
	stroke-width: 4;
	fill: none;
}

/*
 * Right arrows
 */
.right-arrow{
	position: absolute;
	height: 130px;
	width: 110px;
}
.right-arrow path{
	fill: #808080;
}
#arrow1{
	top: 64rem;
	left: 19rem;
}
#arrow2{
	top: 64rem;
	left: 41rem;
}
#arrow3{
	top: 64rem;
	left: 60rem;
}

/*
 * Basic graph properties
 */
svg.graph{
	left: 19.5rem;
	width: 50rem;
	transform: scale(1.4);
}
svg.graph .grid{
	stroke: #aaaaaa;
	stroke-dasharray: 1 2;
	stroke-width: 1;
}
svg.graph .prediction-line{
	stroke: #ff0000;
	stroke-width: 1;
}
svg.graph .points{
	stroke: white;
	stroke-width: 3;
}
svg.graph .lang-set{
	fill: #00554d;
}
svg.graph .ml-set{
	fill: none;
	stroke: #00554d;
	stroke-width: 1.5;
}
svg.graph .surfaces{
	fill-opacity: 0.5;
}
svg.graph .grid.double{
	stroke-opacity: 0.4;
}
svg.graph .labels{
	font-family: Arial;
	font-size: 14px;
	kerning: 1;
}
svg.graph .labels.x-labels{
	text-anchor: middle;
}
svg.graph .labels.y-labels{
	text-anchor: end;
}
svg.graph text{
	fill: #808080;
}

/*
 * Vertical indication bar
 */
svg.graph rect.indicator{
	stroke-width: 1px;
	stroke: #cccccc;
	fill: none;
	dispay: none;
}
svg.graph .triggerLines{
	stroke-width: 60;
	stroke: transparent;
}

/*
 * Tooltip for data points
 */
 #tooltip{
	position: absolute;
	background: black;
	background: rgba(0, 0, 0, 0.8);
	color: white;
	font-size: 14px;
	font-weight: lighter;
	padding: 9px 11px 0px 11px;
	display: none;
	z-index: 100;
	width: 165px;
	min-height: 80px;
	box-shadow: 1px 1px 1px 0px #000;
}
#tooltip.right{
	box-shadow: -1px 1px 1px 0px #000;
}
#tooltip.right svg{
	left: auto;
	right: 0px;
}
#tooltip svg{
	position: absolute;
	display: inline;
	float: right;
	left: 0px;
	right: auto;
	top: -13px;
	width: 11px;
	height: 13px;
}
#tooltip #tooltip-triangle{
	background: black;
	fill: rgba(0, 0, 0, 0.8);
}
#tooltip .count .count-total{
	font-size: 32px;
	vertical-align: top;
	position: relative;
	top: -3px;
}
.tooltip-languages{
	font-size: 15px;
}
