.tile{
	position:absolute;
	display: flex;
    align-items: center;
    justify-content: center;
	width: 12.5vw;
	height: 17vw;
	text-align: center;
	color: #808080;
	text-decoration: none;
	border-style: solid;
	border-width: 1pt;
}

.tile:hover{
	background-color: #D8D7D5;
}

.main-tile-text{
	width: 100%;
	font-size: 1.5vw;
}

.tile-text{
	width: 100%;
	font-size: 1.5vw;
}

.tile-description{
	position: absolute;
	padding-top: 3vw;
	width: 100%;
	font-size: 1vw;
	font-style: italic;
}

.row1{
	top: 37vw;
}
.row2{
	top: 57vw;
}

.col1{
	left: 15vw;
}
.col1-5{
	left: 25vw;
}
.col2{
	left: 34.2vw;
}
.col2-5{
	left: 44vw;
}
.col3{
	left: 53.3vw;
}
.col3-5{
	left: 63vw;
}
.col4{
	left: 72.5vw;
}